body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .80em;
    color: #FFFF00;
    background-color: #008080;
    padding: 0px;
    margin: 0px;
}

a:hover {
    color: #FF0000;
    text-decoration: underline overline;
}

a:link, a:visited {
    color: #FF0000;
}

a:active {
    color: #FF0000;
}

h1 {
    text-align: center;
}

.bottom {
    height: 40px;
    text-align: center;
    font-size: x-small;
    margin: 5px;
    vertical-align: text-bottom;
}

.menu ul li a {
    background-color: #008085;
    border: 1px #4E667D solid;
    color: #DDE4EC;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

    .menu ul li a:hover {
        background-color: #BFCBD6;
        color: #456c71;
        text-decoration: none;
    }